<%= form_for(@scent) do |s| %>

  <fieldset>
    <legend>Details</legend>
        <div class="fb-content-area">
        <%= s.label :name %>
        <%= s.text_field :name, :class => "span4" %>
        <br/>
        <%= s.label :description %>
        <%= s.text_area :description, :class => "span6 description-box" %>
        <br/>
        <%= s.label :color %>
        <%= s.text_field :color, :class => "color span4" %>
      </div>
  </fieldset>

  <br/>

  <fieldset>
    <legend>Scent Categories</legend>
    <div class="fb-content-area">
    <table class="table table-condensed" style="background-color:white;border-radius:.5em">
      <% items_per_row = 3 %>
      <% num_rows = (@scent_categories.count.to_f / items_per_row.to_f).ceil %>
      <% sc_index = 0 %>
      <% (1..num_rows).each do %>
        <% counter = 1 %>
        <tr>
          <% while counter <= 3 do %>
            <% if !@scent_categories[sc_index].nil? %>
              <td style="border:none;padding:10px">
                <% sc = @scent_categories[sc_index] %>
                <label for="<%= sc.name %>">
                <%= check_box_tag "scent_categories[]", sc.id, @scent.scent_categories.where(:id => sc.id).exists? ? true : false, :id => sc.name, :class => "scent_category-cb" %> 
                <%= sc.name %>
                </label>
              </td>
              <% sc_index += 1 %>
            <% end %>
            <% counter += 1 %>
          <% end %>
        </tr>
      <% end %>
    </table>
    </div>
  </fieldset>

  <br/>

  <fieldset>
    <legend>Available Products</legend>
    <div class="fb-content-area">
    <table class="table table-condensed" style="background-color:white;border-radius:.5em">
      <% items_per_row = 3 %>
      <% num_rows = (@products.count.to_f / items_per_row.to_f).ceil %>
      <% product_index = 0 %>
      <% (1..num_rows).each do %>
        <% counter = 1 %>
        <tr>
          <% while counter <= 3 do %>
            <% if !@products[product_index].nil? %>
              <td style="border:none;padding:10px">
                <% p = @products[product_index] %>
                <label for="<%= p.name %>">
                <%= check_box_tag "products[]", p.id, @scent.products.where(:id => p.id).exists? ? true : false, :id => p.name, :class => "product-cb" %> 
                <%= p.name %>
                </label>
                <%= text_field_tag "prices[]", @scent.prices.where(:product_id => p.id).exists? ? Price.pennies_to_dollars(@scent.prices.where(:product_id => p.id).first.amount) : "", :class => "#{p.id}-price span1" %>
                <br/>
                <%= link_to "Image Detail", image_detail_path(:product_id => p.id, :scent_id => @scent.id, :r => "scent") %>
              </td>
              <% product_index += 1 %>
            <% end %>
            <% counter += 1 %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  </fieldset>
  <br/>
  <div class="actions">
    <%= s.submit nil, :class => "btn btn-red" %>
  </div>
<% end %>

<script type="text/javascript">

  $(function() {

    //disable price input on unchecked products
    $('.product-cb').each(function() {
      var checked = $(this).attr('checked') === 'checked';
      var id = $(this).val();
      var price = $('.' + id + '-price');
      if (checked !== true) {
        price.attr('disabled', 'disabled');
      }
    })
  });

  //clear price from unchecked products, enable price input when checked
  $(".product-cb").change(function() {
    var id = $(this).val();
    var price = $('.' + id + '-price');
    if(this.checked) {
      price.attr('disabled', null);
    }
    else {
      price.val('');
      price.attr('disabled', 'disabled');
    }
});
</script>