<h1>Scents</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>

<% @scents.each do |scent| %>
  <tr>
    <td>
      <% if !scent.images.first.nil? %>
        <%= image_tag scent.images.first.url, :style => "width:100px;" %>
      <% end %>
    </td>
    <td>
      <%= scent.name %>
    </td>
    <td>
      <%= scent.description %>
    </td>
    <td>
      <%= link_to 'Show', scent %>
      <%= link_to 'Edit', edit_scent_path(scent) %>
      <%= link_to 'Destroy', scent, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scent', new_scent_path %>
