<div class="edit-coupon">
<fieldset>
<legend>Edit coupon</legend>

<%= form_tag coupon_path, :class => "form-horizontal", :method => :put do %>
  <%= hidden_field_tag :id, @coupon.id %>
  <div class="control-group">
    <label class="control-label" for="key">Key</label>
    <div class="controls">
      <input class="span1" type="text" id="key" name="key" value="<%= @coupon.key %>" readonly="readonly">
    </div>
    <br/>
    <label class="control-label" for="name">Description</label>
    <div class="controls">
      <input class="span4" type="text" id="description" name="description" value="<%= @coupon.description %>">
    </div>
    <br/>
    <label class="control-label" for="name">Amount Off</label>
    <div class="controls">
      <select class="span1" id="type" name="type">
        <option value="dollars" <%= @coupon.type == :dollars ? "selected" : "" %> >$</option>
        <option value="percent" <%= @coupon.type == :percent ? "selected" : "" %> >%</option>
      </select>
      <input class="span1" type="text" id="amount" name="amount" value="<%= @coupon.amount %>">
    </div>
    <br/>
    <label class="control-label" for="name">Duration</label>
    <div class="controls">
      <div class="input-prepend">
          <span class="add-on"><i class="icon-calendar"></i></span><input type="text" name="daterange" id="daterange" value="<%= "#{@coupon.start.strftime('%m/%d/%Y')} - #{@coupon.end.strftime('%m/%d/%Y')}" %>"/>
      </div>
    </div>
  </div>
  <div class="control-group">
  <div class="controls">
    <%= link_to "Cancel", coupons_path %>&nbsp;&nbsp;<%= submit_tag "Update it", :class => "btn btn-success" %>
  </div>
  </div>
<% end %>

</fieldset>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('input[name="daterange"]').daterangepicker();
});
</script>