<%= link_to "Products", catalog_index_path(:products), :class => "btn btn-small" %>
<br/>
<ul class="product-tiles">
  <li class="product-content-area">
    <% if @product.images.count > 0 %>
      <%= image_tag @product.images.first.url %>
    <% end %>
    <fieldset>
      <legend>
        <%= @product.name %>
        <div class="product-amount">
          <%= "#{@product.size} #{@product.uom}" %>
        </div>
      </legend>
        <p>
        <%= @product.description %>
        </p>
    </fieldset>
  </li>

  <%= form_tag bathtub_add_path, :method => :post do %>
    <%= hidden_field_tag :product_id, @product.id %>
    <%= hidden_field_tag :return_url, "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>

    <li class="product-checkout-area">
      <div style="padding:15px">
        <select name="scent_id">
           <option value="-1">Choose a scent</option>
            <% @product.scents.each do |s| %>
              <option value="<%= s.id %>"><%= s.name %></option>
            <% end %>
        </select>

    <hr/>
    
      <% if !@product.upgrades.empty? %>
        <% @product.upgrades.each do |u| %>
          <label for="<%= u.id %>">
          <%= check_box_tag "upgrades[]", u.id, false, :id => u.id %> 
          <%= "#{u.description} : #{number_to_currency(u.amount)}" %>
          </label>
        <% end %>
      <hr/>
      <% end %>

    <label for="quantity">Quantity
      <%= text_field_tag :quantity, 1, :class => "span1" %>
    </label>
    <hr/>
    <div style="padding:15px;background-color:#efefef;border-radius:0.25em;margin-bottom:5px;text-align:center">
      <span style="color:green;font-weight:bold;font-size:1.5em">$0.00</span>
    </div>
    <%= submit_tag "Add to Tub", :class => "btn btn-red btn-large btn-block", :style => "width:100%" %>

  </div>
  </li>
</ul>
<div class="spacer"></div>
<% end %>