<br/>
<div class="btn-group">
<%= link_to "Scents", scents_path, :class => "btn" %>
<%= link_to "Products", products_path, :class => "btn" %>
<%= link_to "Coupons", coupons_path, :class => "btn" %>
<%= link_to "Shipping", shipping_methods_path, :class => "btn" %>
<%= link_to "Orders", orders_path, :class => "btn" %>
</div>