<%= form_for(@product) do |p| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= p.label :name %>
  <%= p.text_field :name %>
  <br/>
  <%= p.label :description %>
  <%= p.text_area :description, :class => "description-box" %>
  <br/>
  <%= p.label :size %>
  <%= p.text_field :size %>
  &nbsp;
  <%= p.select :uom, [["Ounces", "ounces"], ["Pounds", "pounds"]] %>
  <br/>
  <%= p.label :product_type_id, "Product Type" %>
  <%= p.select :product_type_id, options_from_collection_for_select(@product_types, :id, :name, @product.product_type.nil? ? nil : @product.product_type.id) %>

  <h3>Choose Available Scents</h3>
  <% @scents.each do |s| %>
    <label for="<%= s.name %>">
    <%= check_box_tag "scents[]", s.id, @product.scents.where(:id => s.id).exists? ? true : false, :id => s.name %> 
    <%= s.name %>
    </label>
    <br/>
  <% end %>

  <div class="actions">
    <%= p.submit %>
  </div>
<% end %>
