<%= link_to "Workshop", workshop_path, :class => "btn btn-small" %>
<hr/>
<h2>Products</h2>
<%= link_to 'New product', new_product_path, :class => "btn btn-success" %>
&nbsp;
<%= link_to "Manage product types", product_types_path %>
<br/><br/>
<table class="table table-bordered table-striped" style="background-color:white">
  <tr>
    <th>Name</th>
    <th>Last Updated</th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td>
      <% if product.images.count > 0 %>
        <%= image_tag product.images.first.url, :style => "width:50px;border-radius:0.15em" %>
      <% end %>
      <%= link_to product.name, edit_product_path(product) %>
    </td>
    <td>
      <%= product.updated_at.localtime.strftime("%m/%d/%Y %I:%M %P") %>
    </td>
    <td>
      <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, :style => "color:red" %>
    </td>
  </tr>
<% end %>
</table>