<p id="notice"><%= notice %></p>
<h3><%= @product.name %></h3>
<p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</p>
<p>
<% if !@product_image.nil? %>
  <%= image_tag @product_image.url, :style => "width:100px;" %>
<% end %>
</p>
<p>
  <%= @product.description %>
</p>
<p>
  Size: <%= "#{@product.size} #{@product.uom}" %>
</p>
<fieldset>
  <legend>Available Scents</legend>
  <% @product.scents.each do |s| %>
    <p><%= "#{s.name} : #{s.prices.where(:product_id => @product.id).exists? ? number_to_currency(Price.pennies_to_dollars(s.prices.where(:product_id => @product.id).first.amount)) : ""}" %></p>
  <% end %>
</fieldset>
<br/>
<fieldset>
  <legend>Upgrades</legend>
  <% @product.upgrades.each do |u| %>
    <p><%= u.description %></p>
    <p><%= number_to_currency(Price.pennies_to_dollars(u.amount)) %></p>
  <% end %>
</fieldset>