<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Bath</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <link href='http://fonts.googleapis.com/css?family=Parisienne|Great+Vibes|Rochester' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_Jxj2Q6PmPPbIfJe6ADSSExa3w9Cb9');
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

<!-- top bar -->
<div id="top-bar">
  <div id="top-bar-inner">
      <div id="top-bar-action-tab">
      <a class="<%= yield(:order_status) %>" href="<%= order_status_path %>">Order Status</a>
      &nbsp;&nbsp;
      <a class="<%= yield(:bathtub) %>" href="<%= bathtub_path %>">Tub</a>
      </div>
  </div>
</div>

<!-- content -->
<% flash.each do |name, msg| %>
  <% if msg.kind_of?(Array) %>
    <div id="app_alert" class="alert fade in alert-<%= "#{name}" %>">
      <a id="app_alert_close" class="close" data-dismiss="alert">×</a>
      <ul style="margin:0px;padding:0px;list-style-type:none">
      <% msg.each do |m| %>
        <li><%= m %></li>
      <% end %>
      </ul>
    </div>
  <% else %>
    <div id="app_alert" class="alert fade in alert-<%= "#{name}" %>"><%= msg %><a class="close" data-dismiss="alert">×</a></div>
  <% end %>
<% end %>
<div>
  <%= yield %>
</div>

</body>
</html>
<script type="text/javascript">
    //alert fade out after 15 seconds
    $('#app_alert').delay(15000).fadeOut(250, function () {
      $('#app_alert').remove();
    });
</script>
