<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Bath</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_Jxj2Q6PmPPbIfJe6ADSSExa3w9Cb9');
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_path %>">Fantasy Bath</a>
    <ul class="nav pull-right">
      <li class="<%= yield(:bathtub) %>"><a href="<%= bathtub_path %>">Bathtub</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
