<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Bath</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <script type="text/javascript" src="date.js"></script>
  <script type="text/javascript" src="daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="daterangepicker.css" />
  <link href='http://fonts.googleapis.com/css?family=Parisienne|Great+Vibes|Rochester' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_Jxj2Q6PmPPbIfJe6ADSSExa3w9Cb9');
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner" style="background-image:none;background-color:transparent;box-shadow:none;border:none">
    <ul class="nav pull-right">
      <li class="<%= yield(:order_status) %>"><a href="<%= order_status_path %>">Order Status</a></li>
      <li class="<%= yield(:bathtub) %>"><a href="<%= bathtub_path %>">Bathtub</a></li>
    </ul>
  </div>
</div>
<div>
  <img src="/assets/fb_lady_large.png"/>
  <h1 id="title-logo">Fantasy Bath</h1>
</div>
<div id="content-area">
<% flash.each do |name, msg| %>
  <% if msg.kind_of?(Array) %>
    <div id="app_alert" class="alert fade in alert-<%= "#{name}" %>">
      <a id="app_alert_close" class="close" data-dismiss="alert">×</a>
      <ul style="margin:0px;padding:0px;list-style-type:none">
      <% msg.each do |m| %>
        <li><%= m %></li>
      <% end %>
      </ul>
    </div>
  <% else %>
    <div id="app_alert" class="alert fade in alert-<%= "#{name}" %>"><%= msg %><a class="close" data-dismiss="alert">×</a></div>
  <% end %>
<% end %>
<div class="container">
  <%= yield %>
</div>
</div>

</body>
</html>
<script type="text/javascript">
    //alert fade out after 15 seconds
    $('#app_alert').delay(15000).fadeOut(250, function () {
      $('#app_alert').remove();
    });
</script>
