<div class="fb-content-area">
<h3>Order <span style="color:#999"><%= @order.id %></span></h3>
<fieldset>
  <legend>Status</legend>
  <h5><%= @order.status.capitalize %></h5>
  <p><em><%= "Last Updated: #{@order.updated_at.localtime.strftime("%m/%d/%Y %I:%M %P")}" %></em></p>
</fieldset>
<br/>
<fieldset>
  <legend>Items</legend>
  <h5>Payment Total: <%= number_to_currency(Price.pennies_to_dollars(@order.total)) %></h5>
  <table class="table table-bordered">
     <tr>
        <th>Product</th>
        <th>Scent</th>
        <th>Size</th>
        <th>Quantity</th>
      </tr>
    <% @order.order_items.each do |oi| %>
      <tr class="info">
        <td><%= oi.product.name %></td>
        <td><%= oi.scent.name %></td>
        <td><%= "#{oi.product.size} #{oi.product.uom}" %></td>
        <td><%= oi.quantity %></td>
      </tr>
      <% oi.upgrades.each do |u| %>
      <tr>
        <td colspan="4">
          <%= "Upgrade: #{u.description}" %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </table>
</fieldset>
<br/>
<fieldset>
  <legend>Shipping Details</legend>
  <address>
    <strong><%= @order.shipping_name %></strong><br>
    <%= @order.shipping_address %><br>
    <%= "#{@order.shipping_city}, #{@order.shipping_state} #{@order.shipping_zip}" %><br>
    <%= link_to @order.email, "mailto:#{@order.email}" %>
  </address> 
  <address>
    <strong><%= @order.shipping_method.description %></strong><br>
    Tracking : <em><%= "#{@order.tracking.blank? ? "Not yet shipped" : @order.tracking}" %></em><br>
  </address>

</fieldset>
</div>